
<tr>
	<td><span class="Complaint Type"><%= incident.complaint_type %></span></td>
	<td><span class="Created"><%= incident.created %></span></td>
	<td><span class="Elapsed Time"><%= incident.calculate_elapsed %> </span></td>	
  </td>
</tr>
