
<tr>
    <td><span class="Agency"><%= incident.agency %></span></td>
    <td><span class="Descriptor"><%= incident.descriptor %></span></td>
	<td><span class="Complaint Type"><%= incident.complaint_type %></span></td>
	<td><span class="Created"><%= incident.created %></span></td>	
  </td>
</tr>
