<div class="topbar">
      <div class="fill">
        <div class="container">
          	<div class="brand"><%= link_to "uh...partments", root_path %>
		</div>
          <ul class="nav">
            <li class="active"><%= link_to "About", about_path %></li>
          </ul>
        </div>
      </div>
    </div>
	<div class="container">
	  <div class="content">
	    <div class="page-header">
	      <h2> <center>uhpartments.com was built by <%= link_to "@sammybauch", "http://twitter.com/#!/sammybauch"%> for 
	<%= link_to "NYC Big Apps 3.0", "http://2011.nycbigapps.com/" %> </center></h2>
	<p>This website uses the foursquare® application programming interface but is not endorsed or certified by Foursquare Labs, Inc. All of the foursquare® logos (including all badges) and trademarks displayed on this website are the property of Foursquare Labs, Inc.</p>
	      
	