<html style="overflow: hidden;">  
<div id="impress">
		<div class="step" data-x="0" data-y="0">
			<h1>What is Uhpartments?</h1>
			<br>
			<h2 style="color:black">It's Carfax for apartments
			<br><br>
		     Helps renters avoid poorly maintained buildings
			<br><br>
			 Helps real estate professionals close deals</h2>
			</div>
			<div class="step" data-x="1200" data-y="0">
				<h1>But what's it do?</h1>
				<br>
				<h2 style="color:black">NYC Gov data => Building Maintenance Score
					<br><br>
					3rd party API => neighborhood information
					<br><br>
				  	Nearby Subways, Laundromats (with distance!)
				<br><br>
				<%= link_to 'Demo', '/pro' %>
				</div>
				<div class="step" data-x="2400" data-y="0">
					<h1>Numbers</h1>
					<br>
					<h2 style="color:black">
						2mn+ occupied NYC apts, 40mn+ nationwide
						<br><br>
						500k licensed brokers/agents
						<br><br>
					</div>
</div>

<div id="buildings"><img src="/footer.png" style="vertical-align: bottom;"></div>
