<html>
<body>
  <div class="container">		
	<div class="row">	
			      <div class="span12">
				<h2>
					<center>Uhpartments</center></h2> 
					<h3><center>Building Reports On The Go</center></h3><br>
					
				<br>
					<form><center>
					  <input class="btn primary large" type="button" onclick="getLocation();" value="See Buildings Near Me Now"/>
						  </center>
					</form>
					<h3><center>Get a deeper look at the apartment you're walking through.</center></h3>
				  </div>
				 
		</div>
	</div>	
							<script>
							function showLocation(position) {
							  var latitude = position.coords.latitude;
							  var longitude = position.coords.longitude;
    window.location.href = ('/buildings?utf8=✓&lat='+ latitude + '&lon=' + longitude);

							
							} 
															
							function errorHandler(err) {
							  if(err.code == 1) {
							    alert("Error: Access is denied!");
							  }else if( err.code == 2) {
							    alert("Error: Position is unavailable!");
							  }
							}
							function getLocation(){

							   if(navigator.geolocation){
							      // timeout at 60000 milliseconds (60 seconds)
							      var options = {timeout:60000};
							      navigator.geolocation.getCurrentPosition(showLocation, 
							                                               errorHandler,
							                                               options);
							   }else{
							      alert("Sorry, browser does not support geolocation!");
							   }
							}

						
							</script>						
										
								