<head>
	<link rel="shortcut icon" href="/favicon.ico" />
</head>
<html>
<div class="topbar">
      <div class="fill">
        <div class="container">
          	<div class="brand"><%= link_to "uh...partments", root_path %>
		</div>
          <ul class="nav">
	<li class="active">
            <li><%= link_to "About", about_path %></li>
          </ul>
        </div>
      </div>
    </div>
<body>

  <div class="container">
	<br><br><br>		
	<div class="row">	
			      <div class="span8">
					<h1><center>Uhpartments for Renters</center></h1> 
					<h2><center>Building Maintenance Reports <br>On The Go</center></h2><br>
					<h3><center>Get a deeper look at a building when you walk through.<br>
						        Visit uhpartments.com on your smartphone.</center></h3>
				<br><br>
				<form><center>
					  <input class="btn primary large" type="button" onclick="getLocation();" value="See Buildings Near Me Now"/></form>
					<p><br>We're only in NYC</p>
				<br>
				<h3><center>Take uhpartments with you!</h3><center><h7>Enter your mobile number</h7><br><br>
					<form align="center" action="twilio">
					<input type="tel" name="phone_number"/>
					<input type="submit" class="btn primary" value="Text me a link!">
					</form><h5><%= flash[:alert] %></h5>
					</center>
				  </div>
				  <div class="span4">
					<div style="background-image:url('/uhpartments.png');height:433px;width:273px;padding-top:90px"><div style="height:290px;overflow:auto;"><img src="/screenshot.png" width="213px" style="margin-left:27px;" ></div></div>
							
				  </div>
		</div>
	</div>	
	<script src="//maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
	<script>
function showLocation(position) {
  var latitude = position.coords.latitude;
  var longitude = position.coords.longitude;
                                window.location.href = ('/buildings?utf8=✓&lat='+ latitude + '&lon=' + longitude);
                                                               } 
								
function errorHandler(err) {
  if(err.code == 1) {
    alert("We need your location, dummy. Try again.");
  }else if( err.code == 2) {
    alert("We couldn't get your location. Try again. Maybe go outside?");
  }
}
function getLocation(){

   if(navigator.geolocation){
      // timeout at 60000 milliseconds (60 seconds)
      var options = {timeout:60000, enableHighAccuracy: true};
      navigator.geolocation.getCurrentPosition(showLocation, 
                                               errorHandler,
                                               options);
   }else{
      alert("Sorry, browser does not support geolocation!");
   }
}


</script>							
