<html>
<meta name="viewport" content="user-scalable=0"/>

<div class="topbar">
      <div class="fill">
        <div class="container">
          	<div class="brand"><%= link_to "uh...partments", root_path %>
		</div>
          <ul class="nav">
	<li class="active">
          </ul>
        </div>
      </div>
    </div>
<body>
  <div class="container">		
	<div class="row">	
			      <div class="span16">
				<h1>
				<br>
				<br>
					<center>Uhpartments</center></h1> 
					<h2><center>Building Reports On The Go</center></h2><br>
					
				<br><br>
					<form><center>
					  <input class="btn primary large" type="button" onclick="getLocation();" value="See Buildings Near Me Now"/>
						  </center>
					</form>
					<h2><br><center>Get a deeper look at the apartment you're walking through.</center></h2>
				  </div>
				 
		</div>
	</div>	
							<script>
							function showLocation(position) {
							  var latitude = position.coords.latitude;
							  var longitude = position.coords.longitude;
    window.location.href = ('/buildings?utf8=✓&lat='+ latitude + '&lon=' + longitude);

							
							} 
															
							function errorHandler(err) {
							  if(err.code == 1) {
							    alert("Error: Access is denied!");
							  }else if( err.code == 2) {
							    alert("Error: Position is unavailable!");
							  }
							}
							function getLocation(){

							   if(navigator.geolocation){
							      // timeout at 60000 milliseconds (60 seconds)
							      var options = {timeout:60000};
							      navigator.geolocation.getCurrentPosition(showLocation, 
							                                               errorHandler,
							                                               options);
							   }else{
							      alert("Sorry, browser does not support geolocation!");
							   }
							}

						
							</script>						
										
								