<div class="topbar">
      <div class="fill">
        <div class="container">
          	<div class="brand"><%= link_to "uh...partments", root_path %>
		</div>
          <ul class="nav">
            <li><%= link_to "About", about_path %></li>
          </ul>
        </div>
      </div>
    </div>
	<div class="container">
	  <div class="content">
	    <div class="page-header">
		<h1>How It Works</h1>
		</div>
		<div class="row">
			<div class="span5">
				<h2>Visit Uhpartments While You Walk Through</h2>
				<p><br>When you're walking through an apartment, visit uhpartments.com on your smartphone.
				We'll show you a list of buildings close to you.</p>
				</div>
				<div class="span5">
		
					<h2>Choose the Building You're Checking Out</h2>
					<p><br>From the list of nearby buildings, choose the one you're in
					We'll show you every complaint to 311 about the building since 2010.</p>
					</div>
					<div class="span5">
						<h2>Building Not Shown? You're in Luck!</h2>
						
						<p><br>If your building isn't shown in the list, then there are no complaints for it.
						Remember: the absence of evidence is not the evidence of absence, so stay vigilant!</p> 
						</div>

		</div>
			<div class="page-header">
				<br><br><br>
				<h1>Why You Need It</h1>
				</div>	
				<div class="row">
					<div class="span5">
						<h2>Renters Spend A Ton</h2>
						<p><br>The average rental household pays nearly 40% of income 
							towards rent, and there's little accountability in the rental market.</p>
						</div>
						<div class="span5">
							<h2>Tons of Bad Buildings</h2>
							<p><br>Our dataset from the NYC Department of Housing Preservation and Development has over 1.5
								million complaints on 66 thousand buildings since the beginning of 2010.</p> 
							</div>
							<div class="span5">
								<h2>The Market Moves Fast</h2>
								<p><br>Real estate brokers make commission when they place you in an apartment no matter its
									condition. Level the playing field by having more information at your fingertips.</p>
								</div>		
				