<div class="topbar">
      <div class="fill">
        <div class="container">
          <div class="brand"><%= link_to "uh...partments", root_path %>
	</div>
          <ul class="nav">
          </ul>
        </div>
      </div>
    </div>
<div class="container">
<div class="row">
  <div class="span8">
	<h2>Buildings Nearby</h2>

<table class="zebra-striped">
  <tr>
    <th>Address</th>
  </tr>
<% @buildings.each do |b| %>
  <tr>
    <td><%= link_to b.address, b %></td>
  </tr>
<% end %>
</table>
</div>
</div>
</div>

<br />
