<div class="topbar">
      <div class="fill">
        <div class="container">
          <div class="brand"><%= link_to "uh...partments", root_path %>
	</div>
          <ul class="nav">
            <li><%= link_to "About", about_path %></li>
          </ul>
        </div>
      </div>
    </div>
<div class="container">
<div class="row">
  <div class="span6">
	<h2>Uhpartments Nearby</h2>

<center><table class="zebra-striped">
<% @buildings.each do |b| %>
  <tr>
    <td><%= link_to b.address, b %></td>
  </tr>
<% end %>
</table>
<% if @buildings.next_page %>

<center><%= link_to "More", params.merge(page: @buildings.next_page) %></center>
<% end %>

</center>
</div>
<div class="span10">
	<br><br><br><br>
	<h3><center>These are all the buildings near you that there are reports for.
		<br>
		Just because a building isn't listed doesn't mean it's problem free!</h3>
		</div>
		
</div>
</div>

<br />
