	<script src="http://www.google.com/jsapi?key=ABQIAAAAyI0ncuC_9zTY0PM1jl_6kxRtMKo76A2E4wteWnV3DCZRutOYbxT7eDfMiBgjBDbVjPb3OfhleqDNyQ"></script>
<div class="topbar">
      <div class="fill">
        <div class="container">
          <div class="brand"><%= link_to "uh...partments", root_path %>
	</div>
          <ul class="nav">
            <li><%= link_to "About", about_path %></li>
          </ul>
        </div>
      </div>
    </div>
<div class="container">
<div class="row">
  <div class="span6">
	<h2>Uhpartments Nearby</h2>

<center><table class="zebra-striped">
<% @buildings.each do |b| %>
  <tr>
    <td><%= link_to b.address, b %></td>
  </tr>
<% end %>
</table>
<% if @buildings.next_page %>

<center><%= link_to "More", params.merge(page: @buildings.next_page) %></center>
<% end %>

</center>
</div>
<div class="span10">
	<div id="map"></div>
	<br><br><br><br>
	<h3><center>These are all the buildings near you that there are reports for.
		<br>
		Just because a building isn't listed doesn't mean it's problem free!</h3>
		</div>
		
</div>
</div>

<br />


	<script>
		(function () {
			google.load("maps", "2");
			google.setOnLoadCallback(function () {
				// Create map
				var map = new google.maps.Map2(document.getElementById("map")),
					markerText = "<h2>You are here</h2><p>Nice with geolocation, ain't it?</p>",
					markOutLocation = function (lat, long) {
						var latLong = new google.maps.LatLng(lat, long),
							marker = new google.maps.Marker(latLong);
						map.setCenter(latLong, 13);
						map.addOverlay(marker);
						marker.openInfoWindow(markerText);
						google.maps.Event.addListener(marker, "click", function () {
							marker.openInfoWindow(markerText);
						});
					};
					map.setUIToDefault();

				// Check for geolocation support
				if (navigator.geolocation) {
					// Get current position
					navigator.geolocation.getCurrentPosition(function (position) {
							// Success!
							markOutLocation(position.coords.latitude, position.coords.longitude);
						},
						function () {
							// Gelocation fallback: Defaults to Stockholm, Sweden
							markerText = "<p>Please accept geolocation for me to be able to find you. <br>I've put you in Stockholm for now.</p>";
							markOutLocation(59.3325215, 18.0643818);
						}
					);
				}
				else {
					// No geolocation fallback: Defaults to Eeaster Island, Chile
					markerText = "<p>No location support. Try Easter Island for now.</p>";
					markOutLocation(-27.121192, -109.366424);
				}
			});
		})();
	</script>
