<div class="topbar">
      <div class="fill">
        <div class="container">
          	<div class="brand"><%= link_to "Uhpartments for Brokers", '/brokers' %>
		</div>
          <ul class="nav">
		    <li><%= link_to "Sign In", new_user_session_path %></li>
          	<li><%= link_to "Sign Up", new_user_registration_path %></li> 
         </ul>
        </div>
      </div>
    </div>
<div class="container">
  <div class="content">
	<div class="page-header">
		<center><h1>Uhpartments for Brokers</h1></center>
	</div>
<div class="row">
<div class="span8">

<%= render 'form' %>

</div>

