<!DOCTYPE html>
<meta name="format-detection" content="telephone=no" />
<html>
<head>
  <title>uhpartments</title>
  <%= stylesheet_link_tag "application-mobile" %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>

<%= yield %>

</body>
</html>
